html {
    background: url('homerDonut.jpg') no-repeat fixed;
    background-size: contain;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
}

header {
    font-weight: 600 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4em;
    text-align: right;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    float: right;
}

section {
    float: right;
    margin-right: 2%;
    width: 55%;
    text-align: center;
    padding-bottom: 20px;
    background: rgba(223, 223, 223, .75)
}

form {
    width: 100%
}

input {
  font-size: 20px;
  text-align: center;
  width: 10%;
}

#donutFatty {
    padding: 10px 0px;

}
#submit {
    background-color: rgba(232, 140, 195, 1);
    color: #fff;
    padding: 10px 50px;
    border-radius: 5%;
    border: none;
    font-size: 24px;
    margin-right: 2%;
    margin-bottom: 20px;
    margin-top: -46px;
      display: inline;
      float: right;
}
  #submit:hover {
      background-color: rgba(170, 54, 126, 1)
  }

p, label, td {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

th {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 5px;
    padding-bottom: 25px;
}

td {
  vertical-align: top;
}
