
body {
  background: url('homerDonut.jpg') no-repeat fixed;
  background-size: contain;
  width: 98%;
  max-width: 1500px;
}

header {
  font-weight: 600 !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  text-align: right;
  margin-right: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 75%;
  position: relative;
  left: 50%;
}

section#form {
  background: rgba(223, 223, 223, .75);
  position: relative;
  top: 30%;
  left: 48%;
  width: 70%;
  text-align: center;
  margin-right: 5px;
  margin-left: -100px;
  padding-top: 5px;
}

input {
  font-size: 20px;
  text-align: center;
  width: 10%;
}

#fatty {
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  color: rgba(170, 54, 126, 1)
}

#donutFatty {
  padding: 10px 0px;
}

#columnHeader {
  margin-top: -20px;
  border: 1px solid blue;
}

button {
  background-color: rgba(232, 140, 195, 1);
  color: #fff;
  font-size: 24px;
  padding: 10px 50px;
  border-radius: 5%;
  border: none;
  margin-left: 6px;
}
  #submit:hover {
      background-color: rgba(170, 54, 126, 1)
  }

p, label, td {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

  }
  #userInput {
  width: 800px;
  margin: 0 auto;
}

table {
  width: 400px;
}

th {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 5px;
  padding-bottom: 25px;
}

td {
  vertical-align: top;
}

/**********************************************************
MEDIA QUERIES
**********************************************************/
@media screen and (max-width: 899px) {

  body {
    background-color: #fff;
    background: url();
    width: 100%;
  }

  header {
    font-weight: 600 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    left: 0%;
    width: 80%;
    margin: 1px auto;
    text-align: center;
  }

  #homer {
    width: 33%;
    margin-left: 33%;
  }

  .timeHead {
    display: none;
  }

  section#form {
    background: rgba(223, 223, 223, .75);
    text-align: center;
    font-size: 12px;
    top: 200px;
    left: 0px;
    margin: -205px auto 0 auto;
  }

  th {
    padding: 2px;
    font-size: 0.75em;
    text-align: left;
  }

  label {
    margin-bottom: 15px;
    width: 100%;
    margin: 0 auto;
  }

  button {
    background-color: rgba(232, 140, 195, 1);
    color: #fff;
    font-size: 1em;
    padding: 5px 25px;
  }

  p, label, td {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 0.80em;
  }

  #donutFatty {
    padding: 0px;
    font-size: 1.2em;
  }

}


@media screen and (min-width: 900px) {

  #homer {
    display: none;
  }
}


/*@media screen and (min-width: 500px) and (max-width: 999px) {

  body {
    background-color: #fff;
    background: url();
    width: 100%;
  }

  #homer {
    width: 50%;
    margin: 0px;
  }

  header {
    font-size: 2em;
    width: 50%;
    left: 0px;
    margin: 1px auto;
    text-align: center;
  }

  section#form {
    background: rgba(223, 223, 223, .75);
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    width: 98%;
    left: 0px;
  }

  th {
    padding: 2px;
    font-size: 0.75em;
    text-align: left;
  }

  label {
    margin-bottom: 15px;
    width: 100%;
    margin: 0 auto;
  }

  button {
    background-color: rgba(232, 140, 195, 1);
    color: #fff;
    font-size: 1em;
    padding: 7.5px 37.5px;
  }

  p, label, td {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 0.80em;
  }

  #donutFatty {
    padding: 0px;
    font-size: 1.2em;
  }

}*/
